/* 
Typical Device Breakpoints
--------------------------
Telas Pequenas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Telas Grande: acima de 1200px
*/

@media screen and (max-width: 600px) {
    
    .relogio {

     width: 90vw;
     height: 180px;

    }
    
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    
   .relogio {

    width: 90vw;

   }
   
    .relogio div {

        width: 35vw;
        height: 25vh;  
    
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    
    .relogio {
 
     width: 95vw;
 
    }
    
     .relogio div {
 
         width: 45vw;
         height: 20vh;  
     
     }
 }
